Repository CrimeMoot/space-evin-14, pull requests merged in 2024-06, with the labels that each got.

#27 ПНВ.
  Content.Client/Evin/Eye/NightVision/NightVisionOverlay.cs
  Content.Client/Evin/Eye/NightVision/NightVisionSystem.cs
  Content.Shared/Evin/Eye/NightVision/Components/NightVisionComponent.cs
  Content.Shared/Evin/Eye/NightVision/Components/PNVComponent.cs
  Content.Shared/Evin/Eye/NightVision/Systems/NightVisionSystem.cs
  Content.Shared/Evin/Eye/NightVision/Systems/PNVSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Evin/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Eyes/PNV.yml
Labels: Changes: Localization

#35 Merge test into testv2
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Roles/Jobs/Command/blueshield.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Map, No C#, Changes: Localization

#34 Testv2
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Roles/Jobs/Command/blueshield.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Evin/Entities/Mobs/Species/felinid.yml
Labels: Changes: Map, No C#, Changes: Localization

#39 Интегрированные ПНВ очки в шлема ОБР и Научного Руководителя
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#44 фикс эмоутов фелинидов
  Resources/Locale/ru-RU/evin/chat/emote.ftl
  Resources/Locale/ru-RU/evin/chat/felinid.ftl
Labels: No C#, Changes: Localization

#53 buff deaathsqsuad
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#, Status: Needs Review

#55 фикс
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: No C#

#57 Бафф бедных Дедов
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#66 Спонсорские плюшки
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Evin/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_avrelia.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_esmira.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_fredik-inhand-left.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_fredik-inhand-right.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_fredik.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_kraht.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_laura.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_sakka.png
  Resources/Textures/_Evin/Objects/Fun/toys.rsi/sponsor_sheyla.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#82 Fix
  Resources/Audio/Misc/bluealert.ogg
  Resources/Audio/Misc/delta.ogg
  Resources/Audio/Misc/epsilon.ogg
  Resources/Audio/Misc/green.ogg
  Resources/Audio/Misc/redalert.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Uniforms/esmira.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/blue.rsi/equipped-FEET.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/blue.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/blue.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/inhand-left.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/inhand-right.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/kost.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/equipped-NECK.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/inhand-left.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/inhand-right.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/vve.rsi/equipped-HELMET.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/vve.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/vve.rsi/inhand-left.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/vve.rsi/inhand-right.png
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/vve.rsi/meta.json
Labels: No C#, Changes: Sprites

#85 Фикс
  Resources/Prototypes/_Evin/Entities/Clothing/Uniforms/esmira.yml
  Resources/Textures/_Evin/Clothing/Uniforms/Esmira/toy.rsi/meta.json
Labels: No C#

#83 Sh18
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Revolvers/rsh.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/bolt-open.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/equipped-BELT.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/icon.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/rsh.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#89 Gay
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_Evin/Entities/Structures/Decoration/banners.yml
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_colorful.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_vamp.png
  Resources/Textures/Structures/Decoration/banner.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/black.png
  Resources/Textures/Tiles/transparent.png
  Resources/Textures/Tiles/whited.png
Labels: No C#, Changes: Localization, Changes: Sprites, Status: Needs Review

#90 Реворк PNV в NVG, новые виды и категории для них. В том числе и спрайты.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Eyes/PNV.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Eyes/nvg.yml
  Resources/Textures/_Evin/Action/nvg.rsi/icon.png
  Resources/Textures/_Evin/Action/nvg.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgmed.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgmed.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgmed.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgnuke.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgnuke.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgnuke.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgrnd.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgrnd.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgrnd.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgsec.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgsec.rsi/icon.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgsec.rsi/meta.json
Labels: No C#, Changes: Sprites

#91 Новые музыкальные треки не замену Ядерки и Эпсилона. Новый звук Ахелпа. Шкибиди от бобра.
  Resources/Audio/Effects/adminhelp.ogg
  Resources/Audio/Evin/StationEvents/attributions.yml
  Resources/Audio/Evin/StationEvents/runningin.ogg
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/epsilon.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/_Evin/Entities/Mobs/Species/unitaz.yml
  Resources/Textures/_Evin/Mobs/Fun/skibidisti.rsi/meta.json
  Resources/Textures/_Evin/Mobs/Fun/skibidisti.rsi/skibidist.png
  Resources/Textures/_Evin/Mobs/Fun/skibidisti.rsi/skibidist_armor.png
  Resources/Textures/_Evin/Mobs/Fun/skibidisti.rsi/skibidist_armor_dead.png
  Resources/Textures/_Evin/Mobs/Fun/skibidisti.rsi/skibidist_dead.png
Labels: No C#, Changes: Sprites

#94 Create
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Evin/Catalog/Fills/Items/largefirstaidkits.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Revolvers/capitanrevolver.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Revolvers/wester.yml
  Resources/Prototypes/_Evin/Objects/Specific/Medical/largemedkits.yml
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/advkit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/advkit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/advkit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/blackkit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/blackkit-inhand-roght.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/blackkit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/brutekit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/brutekit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/brutekit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/burnkit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/burnkit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/burnkit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/firstaid-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/firstaid-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/firstaid.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/meta.json
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/o2kit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/o2kit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/o2kit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/purplekit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/purplekit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/purplekit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/radkit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/radkit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/radkit.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/toxinkit-inhand-left.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/toxinkit-inhand-right.png
  Resources/Textures/_Evin/Objects/Specific/Medical/largemedkit.rsi/toxinkit.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/equipped-BELT.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/icon.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/ciptainrevolver.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/equipped-BELT.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/icon.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Revolvers/western.rsi/meta.json
Labels: No C#, Changes: Sprites

#95 Супер-материя. Новый хвост, кицунэ - семи хвост.
  Content.Client/Evin/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Evin/Supermater/Systems/SupermatterSystem.cs
  Content.Shared/Evin/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/Evin/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/Evin/Clothing/Components/ClothingGrantingSystem.cs
  Content.Shared/Evin/Supermatter/Componets/SupermatterComponent.cs
  Content.Shared/Evin/Supermatter/Componets/SupermatterFoodComponent.cs
  Content.Shared/Evin/Supermatter/Componets/SupermatterImmuneComponent.cs
  Content.Shared/Evin/Supermatter/Systems/SharedSupermatterSystem.cs
  Resources/Audio/Evin/Supermatter/attributions.yml
  Resources/Audio/Evin/Supermatter/calm.ogg
  Resources/Audio/Evin/Supermatter/delamming.ogg
  Resources/Audio/Evin/Supermatter/dust.ogg
  Resources/Locale/en-US/evin/objectives/steal.ftl
  Resources/Locale/en-US/evin/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/evin/markings/tails.ftl
  Resources/Locale/ru-RU/evin/objectives/steal.ftl
  Resources/Locale/ru-RU/evin/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/_Evin/Entities/Mobs/Customization/Markings/kitsune_tails.yml
  Resources/Prototypes/_Evin/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/_Evin/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Evin/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Evin/Objectives/traitorDonk.yml
  Resources/Prototypes/_Evin/Objectives/traitorWaffle.yml
  Resources/Prototypes/_Evin/explosions.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Evin/Mobs/Customization/kitsune_tails.rsi/doublekitsunealt-tips.png
  Resources/Textures/_Evin/Mobs/Customization/kitsune_tails.rsi/doublekitsunealt.png
  Resources/Textures/_Evin/Mobs/Customization/kitsune_tails.rsi/meta.json
  Resources/Textures/_Evin/Mobs/Customization/kitsune_tails.rsi/sevenkitsune-tips.png
  Resources/Textures/_Evin/Mobs/Customization/kitsune_tails.rsi/sevenkitsune.png
  Resources/Textures/_Evin/Mobs/Customization/tailrs9se.rsi/m_tail_9sune_front_primary.png
  Resources/Textures/_Evin/Mobs/Customization/tailrs9se.rsi/m_tail_9sune_front_secondary.png
  Resources/Textures/_Evin/Mobs/Customization/tailrs9se.rsi/meta.json
  Resources/Textures/_Evin/Mobs/Customization/tails_primary.rsi/m_waggingtail_sabresune_behind_primary.png
  Resources/Textures/_Evin/Mobs/Customization/tails_primary.rsi/m_waggingtail_sabresune_behind_secondary.png
  Resources/Textures/_Evin/Mobs/Customization/tails_primary.rsi/meta.json
  Resources/Textures/_Evin/Objects/Specific/boardsyndicat.rsi/meta.json
  Resources/Textures/_Evin/Objects/Specific/boardsyndicat.rsi/screen-syndicate.png
  Resources/Textures/_Evin/Objects/Specific/boardsyndicat.rsi/uplink-syndicate.png
  Resources/Textures/_Evin/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/_Evin/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/_Evin/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/_Evin/Supermatter/supermatter_sliver.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#97 Рюкзак контрабандиста, событие Скрытое послание, Респрайт Радио-аплинка, Агосты могут носить перчатки и обувь
  Resources/Locale/ru-RU/evin/station-events/smuggler-satchels.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/_Evin/Catalog/Fills/Crates/Backpack/smugglerSatchel.yml
  Resources/Prototypes/_Evin/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Evin/Entities/Clothing/Back/smugglersSatchel.yml
  Resources/Prototypes/_Evin/GameRules/events.yml
Labels: No C#, Changes: Localization

#99 New map by LeviyNosko
  Resources/Maps/LeviyNosok/DSO/Epsilon.yml
  Resources/Maps/LeviyNosok/DSO/PhantasmOBR.yml
  Resources/Maps/LeviyNosok/DSO/RHBZZ.yml
  Resources/Maps/LeviyNosok/NanoTrasen/Dragonfly.yml
  Resources/Maps/LeviyNosok/PVP/Boarder.yml
  Resources/Maps/LeviyNosok/PVP/Destroyer.yml
  Resources/Maps/LeviyNosok/PVP/Fighter.yml
  Resources/Maps/LeviyNosok/PVP/Frigate.yml
  Resources/Maps/LeviyNosok/Syndicate/Nukeops.yml
Labels: No C#

#102 Изменён отображение в худах Крит Статуса и смерти. Полиморф переведен… …а во отдельную вкладку в админке. Новая пушка снайпа и транк патроны .60
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Prototypes/Polymorphs/admin.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Ammunitions/Cartridges/sleepmaterial.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Snipers/sniper_trankl.yml
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
  Resources/Textures/Interface/Misc/health_icons.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/base-spent.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/base-open.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/equipped-BACKPACK.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/wielded-inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/wielded-inhand-right.png
Labels: Changes: Localization, Changes: Sprites

#104 Исправление спрайтов NVG
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgmed.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgnuke.rsi/equipped-EYES.png
Labels: No C#, Changes: Sprites

#103 Accessories
  Resources/Audio/Evin/Voice/Reptilian/LizardBellow.ogg
  Resources/Audio/Evin/Voice/Reptilian/attritbutions.yml
  Resources/Audio/Evin/Voice/Reptilian/hiss1.ogg
  Resources/Audio/Evin/Voice/Reptilian/hiss2.ogg
  Resources/Audio/Evin/Voice/Reptilian/hiss3.ogg
  Resources/Audio/Evin/Voice/Reptilian/hiss4.ogg
  Resources/Audio/Evin/Voice/Reptilian/sound_voice_lizard.ogg
  Resources/Locale/ru-RU/FelinidTrait.ftl
  Resources/Locale/ru-RU/demon.ftl
  Resources/Prototypes/Corvax/Voice/speech_emotes.yml
  Resources/Prototypes/Traits/felinid_accent.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Evin/Entities/Mobs/Customization/Markings/demon_tails_horns.yml
  Resources/Prototypes/_Evin/SoundCollections/Reptilian.yml
  Resources/Prototypes/_Evin/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Evin/Voice/speech_emotes.yml
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/d_tail.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/d_tail_big_arrow.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/horns_big.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/horns_buffalo.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/horns_spiral.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/horns_standart.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/meta.json
Labels: No C#, Changes: Localization, Changes: Sprites

#105 sync
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Maps/EvinDSO.yml
  Resources/Prototypes/Polymorphs/admin.yml
  Resources/Prototypes/_Evin/Catalog/Fills/Crates/Backpack/smugglerSatchel.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Ammunitions/Cartridges/sleepmaterial.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Snipers/sniper_trankl.yml
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
  Resources/Textures/Interface/Misc/health_icons.rsi/meta.json
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgmed.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Clothing/Eyes/Glasses/nvgnuke.rsi/equipped-EYES.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/d_tail.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/d_tail_big_arrow.png
  Resources/Textures/_Evin/Mobs/Customization/demon_parts.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/base-spent.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Ammunitions/Casings/large_tranks.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/base-open.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/equipped-BACKPACK.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/wielded-inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Snipers/trancks.rsi/wielded-inhand-right.png
Labels: Changes: Map, Changes: Localization, Changes: Sprites

#108 Новое оружие. Индикатор речи фелинидов убран. Изменён крафт HooK. Фиксы самой игры.
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Evin/Weapons/attributions.yml
  Resources/Audio/Evin/Weapons/gunshots_shotgun.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Evin/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Shotguns/hook.yml
  Resources/Prototypes/_Evin/Entities/Objects/Weapons/Guns/Shotguns/taurusjudge.yml
  Resources/Prototypes/_Evin/Recipes/Crafting/Graphs/improvised/improvised_shotgun.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/bolt-open.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/icon.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/hookshotgun.rsi/meta.json
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/base.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/bolt-open.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/icon.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/inhand-left.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/inhand-right.png
  Resources/Textures/_Evin/Objects/Weapons/Guns/Shotguns/taurusjudge.rsi/meta.json
Labels: No C#, Changes: Sprites
